body {
   --body-background-color: #061203;
   --notice-info-background: #163f0a;
   --notice-info-border-color: #349619;
   --form-button-background: #091b04;
   --form-button-hover-background: #17440b;
   --form-button-text-color: #baffa7;
   --form-button-border-color: #88ab7f;
   --form-button-active-background: #7cb56c;
   --post-artist-commentary-container-background: #173010;
   --post-artist-commentary-container-border-color: #88ab7f;
   --post-search-notice-background: #173010;
   --post-notice-border-color: var(--post-artist-commentary-container-border-color);
   --post-pending-notice-background: #1a4f0c;
   --post-resized-notice-background: #15390c;
   --link-color: #9eff84;
   --link-hover-color: #ebffe5;
   --post-tooltip-background-color: var(--post-artist-commentary-container-background);
   --post-tooltip-header-background-color: var(--post-tooltip-background-color);
   --post-tooltip-border-color: var(--notice-info-border-color);
   --box-shadow-color: #647e5c;
   --subnav-menu-border-b: #468335;
   --subnav-menu-border-t: #2ed400;
   --subnav-menu-grad-b: #16300e;
   --subnav-menu-grad-t: #135b00;
   --textbox-grad-b: #040b02;
   --textbox-grad-t: #132b0d;
   --chip-primary-background-color: #0f2809;
   --default-border-color: #2f6220;
   --autosuggestions-box-background: #000000;
   --responsive-menu-background-color: #16300e;
}
