body {
   --body-background-color: #120d03;
   --notice-info-background: #3f2f0d;
   --notice-info-border-color: #967020;
   --form-button-background: #1b1405;
   --form-button-hover-background: #44330e;
   --form-button-text-color: #ffe2a7;
   --form-button-border-color: #ab9d7f;
   --form-button-active-background: #b59e6c;
   --post-artist-commentary-container-background: #302610;
   --post-artist-commentary-container-border-color: #ab9d7f;
   --post-search-notice-background: #302610;
   --post-notice-border-color: var(--post-artist-commentary-container-border-color);
   --post-pending-notice-background: #4f390c;
   --post-resized-notice-background: #392a0c;
   --link-color: #84c4ff;
   --link-hover-color: #e5f9ff;
   --post-tooltip-background-color: var(--post-artist-commentary-container-background);
   --post-tooltip-header-background-color: var(--post-tooltip-background-color);
   --post-tooltip-border-color: var(--notice-info-border-color);
   --box-shadow-color: #7e745c;
   --subnav-menu-border-b: #836a35;
   --subnav-menu-border-t: #d49100;
   --subnav-menu-grad-b: #30260e;
   --subnav-menu-grad-t: #5b3e00;
   --textbox-grad-b: #0b0802;
   --textbox-grad-t: #2b210d;
   --chip-primary-background-color: #281e09;
   --default-border-color: #624d20;
   --autosuggestions-box-background: #000000;
   --responsive-menu-background-color: #30260e;
}
