--body-background-color: #120a0f;
--notice-info-background: #3f2536;
--notice-info-border-color: #965781;
--form-button-background: #1b0f17;
--form-button-hover-background: #44273a;
--form-button-text-color: #ffa7e1;
--form-button-border-color: #ab7f9c;
--form-button-active-background: #b56c9c;
--post-artist-commentary-container-background: #301025;
--post-artist-commentary-container-border-color: #ab7f9c;
--post-search-notice-background: #301025;
--post-notice-border-color: var(--post-artist-commentary-container-border-color);
--post-pending-notice-background: #4f0c38;
--post-resized-notice-background: #390c29;
--link-color: #ff84d5;
--link-hover-color: #ffe5f6;
--post-tooltip-background-color: var(--post-artist-commentary-container-background);
--post-tooltip-header-background-color: var(--post-tooltip-background-color);
--post-tooltip-border-color: var(--notice-info-border-color);
--box-shadow-color: #7e5c73;
--subnav-menu-border-b: #833568;
--subnav-menu-border-t: #d4008c;
--subnav-menu-grad-b: #300e25;
--subnav-menu-grad-t: #5b003c;
--textbox-grad-b: #0b0208;
--textbox-grad-t: #2b0d20;
--chip-primary-background-color: #28091d;
--default-border-color: #62204c;
--autosuggestions-box-background: #000000;
--responsive-menu-background-color: #300e25;

   header#top #app-name-header img {
        display:none;
   }

   a#app-name-header {
        background-image: url(https://i.imgur.com/cDdomyW.png);
        background-size: 100% 100%;
        width: 203px;
        height: 41px;
        display: block;
        margin-top: 8px;
    }
